::-webkit-Scrollbar{display:none;}

.material{background-image:url(../png/material.png);}
.pagina{background-image:url(../png/pagina.png);}
.svg{background-repeat:no-repeat;background-size:24px 24px;min-width:24px;min-height:24px;background-position:center;}
.libros{background-image:url(../svg/icon.svg);}
.abrir{background-image:url(../svg/abrir.svg);}
.abrir_2{background-image:url(../svg/abrir_2.svg);}
.pantalla{background-image:url(../svg/pantalla.svg);}
.pantalla_2{background-image:url(../svg/pantalla_2.svg);}
.tts{background-image:url(../svg/tts.svg);}
.tts_2{background-image:url(../svg/tts_2.svg);}
.menu{background-image:url(../svg/menu.svg);}
.izq{background-image:url(../svg/izq.svg);}
.der{background-image:url(../svg/der.svg);}

.leido{background-image:url(../svg/leido.svg);}
.no_leido{background-image:url(../svg/leido_2.svg);}
.borrar{background-image:url(../svg/borrar.svg);}

html,body{
	display:flex;
	margin:0px;
	min-width:100%;
	max-width:100%;
	min-height:100%;
	max-height:100%;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-size:16px;
	overflow:hidden;
}

body{
	color:black;
	display:grid;
	grid-template-columns:repeat(10,1fr);
	grid-template-rows:repeat(10,1fr);
}

header{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    grid-column:1/11;
    grid-row:1;
}

.boton{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:4px;
}

.desactivado{
	pointer-events:none;
	background:gray;
	opacity:0.2;
}

#valor_pagina{
	display:flex;
	justify-content:center;
	align-items:center;
}

#visor{
	grid-column:2/11;
	grid-row:2/11;
	padding-left:16px;
	padding-right:16px;
	padding-bottom:16px;
	animation:all 0.8s;
}

/* --- */

img{max-width:60%;}

#progreso{
	grid-column:1;
    grid-row:2/11;
	padding:16px;
}

#valor_progreso{
	max-width:100%;
	min-width:100%;
	border-radius:16px;
}

.no_clic{pointer-events:none;}

#modal_tts_ajustes{display:none;}
#modal_libros{display:none;}

.fondo_modal{
	background-color:rgba(0,0,0,0.5);
	justify-content:center;
	align-items:center;
	min-height:100%;
	max-height:100%;
	min-width:100%;
	max-width:100%;
	position:fixed;
	z-index:100;
}

.tarjeta_modal{
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:24px;
	gap:16px;
	position:fixed;
}

.horizontal{
	display:flex;
	min-width:100%;
	max-width:100%;
	justify-content:space-around;
}

.range_ancho{width:80%;}
.rango_pagina{width:60%;}

.selecionado{
	background-color:rgb(0,0,0,0.1);
	transition:background-color 0.3s;
}

#listado_libros{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:8px;
}

.titulo_listado,.texto_listado{
	display:flex;
	justify-content:center;
	align-items:center;
}

.titulo_listado{
	font-weight:bold;
}

.grid_nombre{
	grid-column:1;
}
.grid_pag{
	grid-column:2;
}
.grid_leido{
	grid-column:3;
}
.grid_borrar{
	grid-column:4;
}