html,body{
	display:flex;
	margin:0px;
	min-width:100%;
	min-height:100%;
	font-size:24px;
	font-weight:bold;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
body{
	background-color:#66D7D1;
	justify-content:center;
	align-items:center;
}

#seleccion{
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content:flex-start;
	align-items:flex-start;
	min-width:100%;
	min-height:100%;
}

#lector{
	display:none;
	justify-content:center;
	align-items:center;
	min-width:100%;
	min-height:100%;
	flex-direction:column;
}

#oracion{
	display:flex;
	flex-direction:row;
	flex:1;
	align-items:center;
}

.letra{
	background-color:#FFF87F;
	color:black;
	padding:16px;
	margin:16px;
	border-radius:8px;
	transition:all 0.4s;
}

.letra:hover{
	cursor:pointer;
	background-color:#FF637D;
}

.segmento{
	font-size:64px;
	color:black;
}

.resaltar{
	color:#FFF87F;
	text-decoration:underline #FFF87F;
}

.espacio{
	min-width:24px;
}

.boton{
	background-color:#FFF87F;
	display:flex;
	color:black;
	padding:16px;
	margin:16px;
	border-radius:8px;
	transition:all 0.4s;
}

.boton:hover{
	cursor:pointer;
	background-color:#FF637D;
}

.botones{
	display:flex;
	flex-direction:row;
}

img{
	min-width:24px;
	min-height:24px;
}