html, body{
	display:flex;
	flex-direction:row;
	min-width:100%;
	min-height:100%;
	max-width:100%;
	max-height:100%;
	margin:0px;
	padding:0px;
	user-select: none;
}
body{flex-direction:column;}

.cabecera{
	background-color:#2e3334;
	display:flex;
	flex-direction:row;
	gap:8px;
	padding:8px;
}

.select{
	background-color:#2e3334;
	color:#df9a73;
	border:1px solid #df9a73;
	padding:8px;
	flex:1;
}

.btn{
	background-color:#2e3334;
	color:#df9a73;
	border:1px solid #df9a73;
	padding:8px;
	flex:1;
	display:flex;
	justify-content:center;
	align-items:center;
}

.btn:hover{
	background-color:#df9a73;
	color:#2e3334;
	border:1px solid #df9a73;
}
.btnActivo{
	background-color: #976159;
	color:#2e3334;
	border:1px solid #976159;
}

.contenedor{
	background-color:#ccba9b;
	display:flex;
	flex:1;
	padding:24px;
}

.visor{
	border:1px solid #df9a73;
	display:flex;
	flex-direction:column;
	flex:1;
	gap:8px;
	padding:24px;
}

.parrafo{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
}
.oracion{
	display:flex;
    gap:4px;
}
.palabra{ display:flex; }
.silaba{ display:flex; }
.activo{ background-color: #976159; }

svg{
	width:24px;
	height:24px;
	pointer-events:none;
}